*.i
*.p1
*.d
*.cmf
*.elf
*.hxl
*.lst
*.map
*.mum
*.o
*.rlf
*.sdb
*.sym
*.xml
*.hex
*.log
*.mk
*.properties
/02_SW/01_Master-Controller.X/nbproject/*.mk
/02_SW/01_Master-Controller.X/nbproject/*.properties
