*.i
*.p1
*.d
*.cmf
*.elf
*.hxl
*.lst
*.map
*.mum
*.o
*.rlf
*.sdb
*.sym
*.hex
*.log
*.mk
*.properties
/02_SW/01_Master-Controller.X/nbproject/*.mk
/02_SW/01_Master-Controller.X/nbproject/*.properties
/02_SW/01_Master-Controller.X/MyConfig.mc3
/02_SW/01_Master-Controller.X/build/default/production/02_MCAL/CAN/CAN.i-96c1293e
/02_SW/01_Master-Controller.X/build/default/production/02_MCAL/TIMER0/Timer0.i-8238e453
/02_SW/01_Master-Controller.X/dist/default/debug/memoryfile.xml
/02_SW/01_Master-Controller.X/dist/default/production/memoryfile.xml
/02_SW/01_Master-Controller.X/nbproject/configurations.xml
/02_SW/01_Master-Controller.X/nbproject/private/configurations.xml
/02_SW/01_Master-Controller.X/nbproject/private/private.xml
/02_SW/01_Master-Controller.X/nbproject/project.xml
